@keyframes blinkAuth {
    0% {color: white}
    50% {color: red}
    100% {color: white}
}

.main {
    display: flex;
    justify-content: center;
    &__loginForm {
        margin: 50px auto;
        input, button {
            margin: 5px auto;
        }
        &--auth {
            animation: blinkAuth 2s linear infinite;
        }
    }
}