$color: black;
$bg-color: gray;

$blue-color: #428bca;

$color__footer: $color;
$color__header: $color;
$color__link: blue;
$color__login-form--logo: #f0ad4e;
$color__login-form--button: $blue-color;
$color__logged--icon: #5cb85c;
$color__error--icon: #cb7f7d;

$bg-color__footer: $blue-color;
$bg-color__header: $blue-color;

$height__login-form--logo: 35px;
$height__login-form--logo-text: $height__login-form--logo;
$height__login-form--button: 34px;
$height__logged--icon: 35px;
$height__error--icon: 35px;

$width__login-form--button: 90px;

$font-size__login-form--logo-text: 24px;
$font-size__logged--text: 24px;
$font-size__error--text: 24px;
$font-size__server-record: 11px;

$max-width__modal--dialog: 320px;

$min-height__modal--dialog: 300px;

$margin__logged: $min-height__modal--dialog / 2 - $height__logged--icon;
$margin__error: $min-height__modal--dialog / 2 - $height__error--icon;
