@import "../../../entry-point/variables";

.history {
    //min-height: 400px;
    flex: 1 1 200px;
}

.post {
    margin: 0 2px;
    &__timeStamp {
        font-size: 10px;
        user-select: none;
        color: gray;
    }
    &__isMuted {

    }

    &__isBanned {

    }

    &__message {
        color: black;
    }
}