@import "../../entry-point/variables";

.main {
    display: flex;
    justify-content: center;
    &__loginForm {
        margin: 50px auto;
        //> input {
        //    margin-top: 5px;
        //
        //}
        input, button {
            margin: 5px auto;
        }
    }
}